.lesson__headerWrap{
    background: url("../../../shared/assets/img/lessonHeader.jpg");
    height: 350px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    padding: 145px 85px 40px;
}
.lesson__backToCourse{
    color: #FFF;
    color: color(display-p3 1 1 1);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 22.05px */
    letter-spacing: -0.42px;
    text-decoration: underline;
}
.lesson__title{
    color: #FFF;
    color: color(display-p3 1 1 1);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
    letter-spacing: -0.16px;
    margin-top: 33px;
}
.lessons__container{
    color: #000;
    color: color(display-p3 0 0 0);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 22.05px */
    letter-spacing: -0.42px;
    max-width: 895px;
    height: fit-content;
    padding-top: 400px;
    margin: 0 auto;
}