.loginPage__container{
    background: #FF7D85;
    background: color(display-p3 0.9634 0.5199 0.5348);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.loginPage__imgContainer{
    position: absolute;
    bottom: 54px;
    right: 0;
    background: url("../../shared/assets/img/loginIMG.png");
    height: 580px;
    width: 727px;
}
.loginPage__img{
    object-fit: cover;
}
.loginPage__textContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 480px;
    position: absolute;
    right: 20%;
    top: 15%;
}
@media screen and (max-width: 1367px){
    .loginPage__textContainer{
        display: none;
    }
}
.loginPage__title p{
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.loginPage__text p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.companyLogo{
    width: 180px;
    height: 21px;
    object-fit: cover;
    position: absolute;
    top: 32px;
    left: 155px;
    background: url("../../shared/assets/img/logo.png");
}
.loginForm__container{
    position: absolute;
    left: 155px;
    top: calc(50% - 285px);
    z-index: 10;
}