.button{
    display: flex;
    height: 40px;
    min-width: 136px;
    padding: 21px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #003896;
    background: #FFFFFF;
    color: #003896;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.buttonCompleted{
    color: #00CE00;
    border: none;
    padding: 21px 0;
    min-width: 75px;
}
.courseCardContainer{
    display: flex;
    width: 425px;
    padding: 14px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 12px;
    background: #FFF;
    background: color(display-p3 1 1 1);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
}
.courseCard__titleSection{
    height: fit-content;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.courseCard__title{
    color: #003896;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
}
.courseCard__dateContainer{
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 125, 133, 0.25);
    color: #003896;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 125% */
    box-sizing: border-box;
}
.courseCard__dateContainer p {
    color: #003896;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px; /* 100% */
}
.courseCard__unlimitedDate{
    color: #00CE00;
    box-sizing: border-box;
    display: flex;
    padding: 4px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 125% */
}
.courseCard__placesLeftContainer{
    width: 100%;
    color: #FF7D85;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
.courseCard__infoSection{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courseCard__lessonsStatus{
    color: #003896;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 100% */
}
.courseCard__lessonsStatusFinished{
    color: #00CE00;
}